[Unit]
Description=Fiber Channel Transport Daemon
After=multipathd.service
Conflicts=shutdown.target

[Service]
Type=exec
ExecStart=/usr/sbin/fctxpd
ExecReload=/usr/sbin/fctxpd

[Install]
WantedBy=multi-user.target
